@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_100.otf);
  font-weight: 100; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_300.otf);
  font-weight: 300; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_500.otf);
  font-weight: 500; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_700.otf);
  font-weight: 700; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl_900.otf);
  font-weight: 900; }

/*--------------------- Total style ------------------*/
body {
  background: #fff; }

.bold-green, .bold-blue {
  color: #2cbf6f;
  font-weight: bold; }

.bold-pink {
  color: #ff1ba2; }

.bold-blue {
  color: #0daefb; }

/*--------------------- Header -----------------------*/
/*--------------------- Section-1 --------------------*/
.section-1 {
  background: #eee; }

/*--------------------- Section-2 --------------------*/
/*--------------------- Section-3 --------------------*/
.section-3 {
  background: #eee; }

/*--------------------- Section-4 --------------------*/
/*--------------------- Section-5 --------------------*/
.section-5 {
  background: #eee; }

/*--------------------- Section-6 --------------------*/
/*--------------------- Section-7 --------------------*/
.section-7 {
  background: #eee; }

/*--------------------- Section-8 --------------------*/
/*--------------------- Section-9 --------------------*/
.section-9 {
  background: #eee; }

/*--------------------- Section-10 -------------------*/
/*--------------------- Section-11 -------------------*/
.section-11 {
  background: #eee; }

/*--------------------- Footer -----------------------*/
/*--------------------- Media Query ------------------*/
