@media (max-width: 768px) {

	/*--------------------- Header -----------------------*/

	.header--call {
	    text-align: center;
	}

	.header--address {
		text-align: center;
	}
	.header--logo {
		position: relative;
		margin: 15px auto;
	    width: 80%;
	    max-width: 360px;
	    height: auto;
	}
	.header--phone {
	    font-size: 52px;
	}

	/*--------------------- Section-1 --------------------*/

	.section-1 {
	    padding: 70px 0;
	}
	/*--------------------- Section-2 --------------------*/

	.section-2 {
	    padding: 70px 0;
	}

	/*--------------------- Section-3 --------------------*/

	.section-3 {
		padding: 70px 0 0;
	    .container {
	        img {
	            display: none;
	        }
	    }
	    p {
	    	margin-bottom: 70px;
	    }
	}

	/*--------------------- Section-4 --------------------*/

	.section-4 {
		overflow: hidden;
	    margin-top: 0px;
	    margin-bottom: 0px;
	    .section-4--wrapper {
	      height: auto;
	      padding: 15px 25px;
	    }
	}

	.section-4--p {
	    line-height: 28px;
	    font-family: "OpenSans-Light";
	    color: #666;
	}

	/*--------------------- Section-5 --------------------*/

	.section-5 {
	    padding-top: 70px;
	}

	/*--------------------- Section-6 --------------------*/

	.section-6 {
		overflow: hidden;
	}	
	.section-6--p {
	    padding-bottom: 30px;
	}


	/*--------------------- Section-7 --------------------*/

	.video {
	    display: none;
	}

	/*--------------------- Section-8 --------------------*/

	.section-8 {
	    padding: 70px 0;
	}

	.section-8--blocks {
	    border-right: 0px solid #dfe2e5;
	}

	/*--------------------- Section-9 --------------------*/

	.section-9 {
	    // overflow: scroll;
	}

	.section-9--table {
    background: #eaf9fd;
    // box-shadow: 0 0 25px rgba(#000, .1);
    width: 100%;
    // margin-bottom: 380px;
    thead {
        // font-family: "OpenSans-Light";
        // vertical-align: middle;
        td {
            font-size: 12px;
            padding: 10px;
            &:nth-child(1) {
                // color: #afafaf;
                font-size: 12px;
            }
            &:nth-child(2),
            &:nth-child(3) {
                // color: #303030;
                span {
                    // font-family: "OpenSans-ExtraBold";
                    font-size: 12px;
                }
            }
            &:nth-child(3) {
            }
        }
    }
    tbody {
        tr {
            // border-bottom: 1px solid #d2e5e1;
            &:last-child {
                // border: none;
                td {
                    &:nth-child(1),
                    &:nth-child(2) {
                        // font-family: "OpenSans-Extrabold";
                    }
                }
            }
        }
        td {
            padding: 10px;
            &:last-child {
                // background: $white;
                // font-family: "OpenSans-Bold";
                padding-left: 10px;
                font-size: 14px;
            }
            &:first-child {
                // font-family: "OpenSans-Regular";
                font-size: 12px;
            }
            &:nth-child(2) {
                // font-family: "OpenSans-Bold";
                font-size: 12px;
                // text-align: center;
            }
            .tada {
                // display: inline-block;
            }
        }
    }
}

	/*--------------------- Section-10 -------------------*/

	.section-10 {
	    padding: 70px 0;
	}

	/*--------------------- Section-11 -------------------*/

	.section-11 {
	    padding: 70px 0;
	}

	/*--------------------- Footer -----------------------*/

	footer {
	    padding: 70px 0;
	}

	.footer--a-make-order,
	.footer--a-question {
	    padding: 16px 50px;
	}

	.left {
		margin-bottom: 60px;
		text-align: center;
	}
	.right {
		text-align: center;
	}
	
}